# Visual Studio
.vs/
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userprefs

# NuGet
*.nupkg
packages/
project.lock.json

# Stripe / secrets
**/appsettings.Local.json
**/appsettings.Development.Local.json
Stripe/
*.pem

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db